<!DOCTYPE html>
<html>
<head>
	<title>Contact Form</title>

	<link rel="stylesheet" href="style.css">

</head>
<body>

	<div class="background">
		<div class="container">

			 {{{body}}}

		</div>
	</div>

</body>
</html>