<div class="thanks">
	<img src="assets/talk-balloon.png" alt="speech balloon" class="balloon"/>
	<div class="line"></div>
	<div class="thanks-text">
		<h1>Thank You!</h1>
		<p class="contact">someone from our team will contact you soon!</p>
	</div>
	<div class="line"></div>
</div>	